exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(STRMPS)
import(methods)      # if you have it in your 'Imports:' field
import(IRanges)      # if you need to import stuff from IRanges
import(XVector)      # if you need to import stuff from XVector
import(Biostrings)
